<div class="container">

<h1>Stupid coaching</h1>
<p class="label">Ask your coach anything</p>
<form action="/answer" data-turbo="false" class="d-flex row">
  <input type="text" name="ask" class="form-control col-6">
  <input type="submit" value="Ask!" class="btn btn-primary col-1">
</form>
</div>
